.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.onscreen {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
#listing {
  text-align: left;
  width: 30%;
  max-height: 98%;
  /* overflow-y: scroll; */
}
#datalistarea {
  max-height: 98%;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
}
.list-name {
  font-weight: bold;
  text-align: left;
  padding: 5px;
  background-image: linear-gradient(to right, rgb(164,164,164), rgb(230,230,230), rgb(164,164,164))

  /* background:none!important;
  margin: 0;
  padding: 0!important;
  text-align: left;
  font-size: 1em;
  font-style: italic;
  border: none;
  border-bottom:1px solid blue;
  cursor: pointer; */
}
.list-addr {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
}
.myinfohead {
  padding: 7px;
  margin: 0;
  background-image: linear-gradient(to right, white, rgb(194,194,255), white)
}
.myinfobody {
  margin: 4px;
}
#srchdiv {
  /* color: #ff4422 */
  border: 1px solid rgb(112,112,112);
  background-color: rgb(128,128,128);
  color: white;
  font-size: 1.1em;
  padding: 4px;
  clear: both;
}
#srchitems {
  /* border: 1px solid grey; */
  /* max-height: 90%; */
  background-color: rgb(230,230,230);
  overflow-y: scroll;
}
.srchitemdetail {
  margin: 10px;
  /* border: 1px solid blue */
}
#maparea {
  width: 100%;
  height: 98%;
  background-color: grey;
}
#mapg {
  width: 100%;
  height: 98%;
}

#btn-maprecenter {
  font-size: 1.2em;
  border-radius: 10px;
  margin-left: 10px;
  padding: 2px 8px 2px 8px;
  background-image: radial-gradient(circle, white, rgb(204, 204, 44))
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
